apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hush-k8s-goat-app.fullname" . }}
  labels:
    {{- include "hush-k8s-goat-app.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "hush-k8s-goat-app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "hush-k8s-goat-app.selectorLabels" . | nindent 8 }}
      annotations:
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
    spec:
      serviceAccountName: {{ include "hush-k8s-goat-app.serviceAccountName" . }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: HUBSPOT_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "hush-k8s-goat-app.fullname" . }}
                  key: hubspot-api-key
          envFrom:
            - configMapRef:
                name: {{ include "hush-k8s-goat-app.fullname" . }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
